<link rel="stylesheet" href="estilo.css">
<body class="">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <span class="preheader"></span>
          <div class="logo">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <a href="#">
                    <img width="200" alt="logo" style="margin:0;border:0;" src="https://yapame.com.bo/logo.png">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <table role="presentation" class="main">
            <tr>
              <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <h2>{welcomeUsuario} {nombreUsuario} </h2>
                      <p>Tu nueva cuenta ha sido creada exitosamente<br>Pero, deber&aacute;s esperar a que el Administrador la active para que puedas ingresar.<br>Una vez activada, puedes accesar con los siguientes datos:<br></p>
                      <p>Usuario: {correoUsuario} <br>Contraseña: {pswdUsuario} </p>
                      <p>Puedes acceder a tu cuenta desde aqu&iacute; &nbsp;<a href="{hostSistema}">Ingresar</a></p>
                      <p>Mensaje env&iacute;ado desde el sistema automatizado, el d&iacute;a:<br>{fechaEnvio} a las:<br>{horaEnvio}</p>
                      <br>
                      Atte: Soporte t&eacute;cnico de YAPAME.
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <div class="footer">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-block">
                  <span>{leyendaYapame}</span>
                  <br><span>Por favor, no responda a este correo electr&oacute;nico.</span>
                </td>
              </tr>
              <tr>
                <td class="content-block">
                  <span class="apple-link">Copyright © {anioActual} Sistemas Yapame</span>
                </td>
              </tr>
              <tr>
                <td class="content-block help">
                  <span><a href="{linkPrivacidad}">Pol&iacute;ticas de privacidad</a>&nbsp;|&nbsp;<a href="{linkTerminos}">T&eacute;rminos y condiciones</a>&nbsp;|&nbsp;<a href="{linkSoporte}">Sporte Yapame</a></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
</body>